<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Hacker Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/cookies">Cookies</a>
          <a class="nav-link" href="/screenshots">Screenshots</a>
          <a class="nav-link" href="/block">Block Website</a>
          <a class="nav-link" href="/redirect">Redirect Website</a>
          <a class="nav-link" href="/iframe">Iframe</a>
        </div>
      </div>
    </div>
  </nav>