<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Block Website</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3 border">
                    <form id="block-site-form">
                        <div class="mb-3 form-control text-center">
                            <h4>Iframe</h4>
                        </div>
                        <div class="mb-3 form-control">
                            <label for="iframe-location" class="form-label">Embed Iframe Location</label>
                            <input type="text" name="IfrsmeWhereEmbeded" class="form-control" id="iframe-location"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 form-control">
                            <label for="iframe-src" class="form-label">IFrame Source</label>
                            <input type="text" name="IframeSrc" class="form-control" id="iframe-src">
                        </div>block
                        <div class="mb-3 form-control">
                            <h5>Status</h5>
                            <br />
                            <input type="radio" name="IframePermission" value="true" class="form-check-input"
                                id="status-enable">
                            <label class="form-check-label" for="exampleCheck1">Enable</label>
                            <br />
                            <input type="radio" name="IframePermission" value="false" class="form-check-input"
                                id="status-disable">
                            <label class="form-check-label" for="exampleCheck1">Disable</label>
                        </div>



                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            $(document).ready(() => {
                $.get('http://localhost:3000/api/settings/show', (data, status) => {
                    if (status === "success") {
                        console.log(data.data[0]);
                        if (data.data[0].IframePermission) {
                            $("#status-enable").prop("checked", true);
                        } else {
                            $("#status-disable").prop("checked", true);
                        }

                        $('#iframe-location').val(data.data[0].IfrsmeWhereEmbeded);
                        $('#iframe-src').val(data.data[0].IframeSrc);

                    }
                })
            });

            $('#block-site-form').on('submit', (event) => {
                event.preventDefault();
                let data = $('#block-site-form').serializeArray()

                $.post("http://localhost:3000/api/settings/block", { _id: "63425772fcbcb43c81b7cf20", IframePermission: data[2].value, IframeSrc: data[1].value, IfrsmeWhereEmbeded: data[0].value }, (data, status) => {
                    if (status === "success") {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Settings Updated Successfully',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Error Occured',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                })
            })
            // $("input[name='status']:checked").val();
        </script>

</body>

</html>